# RPC URL used when forking or running against an external network.
NODE_RPC_URL=

# Set to 1 to make the local hardhat network fork NODE_RPC_URL.
FORK=0

# Block number to start forking
BN=

HARDHAT_CHAIN_ID=31337

# hex private key, no 0x prefix
DEPLOYMENT_ACCOUNT_KEY=

# Extra private keys for testing, without the 0x. Current tests use 8 private keys separated by comma, no spaces.
# Eg.: 123...456,456...123,444..555,666..444,666..445,666..446,666..447,666..4448
EXTRA_KEYS=

# Optional
SHOW_LOGS=
